a{
    text-decoration: none;
}

.bodyMain{
    background-image: url("../img/mainroad.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.mainTitle{
    width: 250pt;
    color: black;
    padding-left: 5pt;
}

.navBar{
    background-color: gray;
    font-size: 20pt;
    border: black solid 3pt;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 0%;
}

.navBarButtons{
    padding-left: 15pt;
    padding-right: 15pt;
    color: white;
}